<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MessagePack" version="3.0.134-beta" manuallyInstalled="true" />
  <package id="MessagePack.Annotations" version="3.0.134-beta" />
  <package id="MessagePackAnalyzer" version="3.0.134-beta" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.0" />
  <package id="R3" version="1.2.8" manuallyInstalled="true" />
  <package id="System.Collections.Immutable" version="7.0.0" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Threading.Channels" version="8.0.0" />
</packages>